header{

    background:url(bg.jpg);
    padding: 80px;

}

.caixa{

    position: relative;
    margin: 0 auto;
    padding-bottom: 25px;
    
}

nav{

    position: absolute;
    top: 110px;
    right: 15px;
    
}

nav li{
    
        display: inline;
        margin: 0 0 0 15px;
    
}
    
nav a {
    
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
        
    
 }
    
nav a:hover {
    
    color: #eb1008;
    text-decoration: underline;
    
}

main{

    width: 940px;
    margin: 25px;
    
}

fomr{

    margin: 25px;
    
}

form label,form legend{

    display: block;
    font-size: 20px;
    margin: 0 0 10px;

}

.input-padrao{

    display: block;
    margin: 0   0   20px;
    padding: 10px 25px;
    width: 50%;

}

.chekbox{

    margin: 20px 0;
}

.enviar{

    width: 40%;
    padding: 15px 0px;
    background: red;
    color: white;
    font-weight: bold;
    font-size: 18px ;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;

}

.enviar:hover{

    background: green;
    transform: scale(1.2) rotate(5deg);
    
    

}





footer{

    text-align:center;
    background: url(bg.jpg) ;
    width: 100%;
    padding: 50px 0px 0px;

}

.tamanhologo{

    width: 215px;

}

.copyright{


    color: #000000;
    font-size: 13px;
    margin: 30px 0px 0px;

}